@zumatawl:registry="http://sonatype-nexus.g.zumata.com/repository/npmjs-zumata-registry//"
@zumata:registry="http://sonatype-nexus.g.zumata.com/repository/npmjs-zumata-registry//"

# User config
package-lock=true
progress=true
silent=true
update-binary=true
